/* variables */

:root {
    --background-color-1: rgba(47%, 79%, 79%, 40%);
    --background-color-2: rgba(47, 79, 79, 0.7); 
    --background-color-3: rgb(7, 7, 7);
    --background-color-4: rgba(86, 125, 125, 0.52);
}

/* body element styles */

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-image: url(/images/cc-index-background.png);
    background-size: cover;
}





/* 
header {
    width: 100vw;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 11vh 8vh;
}

#top {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#sub-top {
    display: inline-block;
    margin-top: 1rem;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

h1 {
    grid-column: 1 / -1;

    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0 0 0 1rem;

    color:var(--background-color-3);
    font-style: sans-serif;
    font-size: 3rem;

    border-bottom: 0.18rem solid var(--background-color-3);
}

#subtitle {
    margin-left: 4rem;

    grid-column: 1 / -1;

    font-size: 1.4rem;
    font-style: italic;
    font-weight: lighter;
}

#top a:-webkit-any-link {
    color: var(--background-color-3);
    cursor: pointer;
}

#navigation-bar {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.link {
    padding: 1rem;
    
    height: 4rem;
    
    color: var(--background-color-3);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
    border: none;
    border-bottom: 0.3rem solid transparent;;
    background: none;

    cursor: pointer;
}

.dropdown.active .link,
.link:hover {
    color: var(--background-color-3);

    background-color: var(--background-color-4);
    border-bottom: 0.5rem solid rgb(35, 35, 195);
    border-radius: 0.25rem;

    transition: 0.25s linear;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;

    padding: .75rem;

    background-color: whitesmoke;
    border-radius: .25rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;

    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    pointer-events: none;
   
}

.dropdown.active .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu ul {
    width: fit-content;
    list-style: none;
    padding: 0 0 0 0.5rem;
    margin: 0;
    border-collapse: collapse;
}

.dropdown-menu ul li {
    width: 10.7rem;
    padding: 0.5rem;
    
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.dropdown-menu ul li:hover {
    background-color: var(--background-color-1);
    border-radius: 1rem;
    
}

.dropdown-menu ul li a {
    color: var(--background-color-3);
    text-decoration: none;
}

.last a {
    color: var(--background-color-3);
    text-decoration: none;
}

header section:last-of-type {
    grid-column: 1 / -1;
}

#socials {
    display: flex;

    height: 3rem;

    padding-right: 3.9rem;

    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 2;
    
    list-style: none;
    color: whitesmoke;
    background-color: var(--background-color-3);
    border-top: 1rem solid darkslategray;
}

.icon {
    color: whitesmoke;
    font-size: 1.5rem;
}

.f:hover {
    color: rgb(31, 31, 211);
}

.i:hover {
    color: orchid;
}

.l:hover {
    color: lightskyblue;
}

.y:hover {
    color: red;
}

.a:hover {
    color: goldenrod;
}

#socials li {
    margin-left: 1rem;
    padding-left: 40px;
} */

/* main section */



/* main {
    display: grid;

    margin-top: 2rem;

    grid-template-columns: 11vw 50vw 27.6vw 11vw;
    grid-template-rows: 60.2rem 18rem 28.2rem 10vh;
    align-items: center;
}

#e-square-background {
    display: grid;

    width: 46.5vw;
    height: 96%;

    padding-bottom: 40px;

    grid-template-rows: 70% 30%;
    grid-column: 2 / 3;
    
    justify-items: center;
    align-items: center;

    background-color: darkslategray;
    border: 2px solid var(--background-color-3);
    border-radius: 1%;
}

#e-square {
    display: grid;

    width: 91%;
    height: 90%;

    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    
    background-color: var(--background-color-3);
    border: 1px solid var(--background-color-3);
    border-radius: 1%;
    color: white;
}

/*  */

/* 
.e-info-background, #e3-list li {
    width: 80%;
    height: 53%;

    padding: 0.9rem;
    padding-bottom: 2rem;

    font-size: 1rem;
    font-family:sans-serif;
    letter-spacing: 1px;
    color: rgb(218, 218, 218);

    border: var(--background-color-4) 1px solid;
    background-color: var(--background-color-4);
    border-radius: 2%;
}

#e1-background-info, .e1-info-title 
{ grid-column: 1; grid-row: 1; }

.position { 
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    position: relative; 
    bottom: 7.4rem; 
    z-index: 0;
}

#e2-background-info, 
.e2-info-title 
{ grid-column: 2; grid-row: 1; }

#e3-background-info, 
.e3-info-title, 
#e3-list 
{ grid-column: 1; grid-row: 2; }

#e3-list { padding-left : 0;}

#e3-list li{
    width: 100%;
    padding: 2%;
    margin: none;
    list-style: disc;
}

#e4-background-info, .e4-info-title  
{ grid-column: 2; grid-row: 2; }

#e1-background-info::first-letter, 
#e2-background-info::first-letter, 
#e4-background-info::first-letter {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-right: 0.5rem;
    font-size: 4rem;
    color: black;
}

.e-div {
    display: grid;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    border: 1px solid var(--background-color-3);
    border-radius: 1px;
    background-color: white;

    align-items: center;
    justify-items: center;

    cursor: pointer;
    z-index: 3;
}

.e1 {grid-column: 1 / 2; grid-row: 1;}

.e2 {grid-column: 2 / 2; grid-row: 1;}

.e3 {grid-column: 1 / 2; grid-row: 2;}

.e4 {grid-column: 2 / 2; grid-row: 2;}

.e-div:hover {border: 6px solid darkblue;}

.e {
    left: 30px;
    top: 2rem;

    width: 80%;
    height: 73%;

    margin: 0;
    padding: 0;
}

#e-square-subtext-section {
    display: grid;
    text-align: left;

    margin: 10px 0 0 0;

    grid-template-columns: 2.6% 44.5% 44.5% 3%;
    column-gap: 1rem;

    font-size: 20px;
    font-family:sans-serif;
    
    letter-spacing: 1px;
    color: rgb(218, 218, 218);
    
}

#e-square-subtext-section p {
    padding: 5px;
    
    border: 1px var(--background-color-4) solid;
    border-radius: 3%;
    background-color: var(--background-color-4);
}

.hr1, .hr2 
{width: 100%;}

.hr2 { 
    grid-column: 3 / 4;
}

#first-paragraph, .hr1 {
    grid-column: 2 / 3;
}

#first-paragraph::first-letter {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-right: 0.5rem;
    font-size: 4rem;
    color: black;
}

p {margin: 0;} */ 


/* 

#form {
    display: grid;

    width: 100%;
    height: 60rem;

    grid-template-rows: 4% 28% 61.8% 6%;
    justify-content: center;
    align-items: center;
    
    border: 2px solid var(--background-color-3);
    background-color: var(--background-color-2);
}

#form-title {
    box-sizing: border-box;
    grid-column: 1 / -1;
    text-align: center;
    
    height: 100%;

    margin: 0;
    padding-top: 3px;

    color: whitesmoke;
    background-color: var(--background-color-3);
    border: 3px solid var(--background-color-4);
}

#who { 
    display: grid;
    box-sizing: border-box;

    width: 100%;
    height: 99%;

    grid-template-columns: 50% 50%;
    justify-items: center;
    align-content: center;
    grid-row: 2;

    border-bottom: 2px solid var(--background-color-3);
}

#frame {
    box-sizing: border-box;

    width: 80%;
    height: 89%;

    margin: 0;

    border: 1px solid var(--background-color-3);
    border-radius: 2%;
}

#cochran {
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    border-radius: inherit;
}

figcaption {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

#business-info {
    text-align: left;

    width: 80%;
    height: 80%;

    padding: 0.5rem;
    margin-right: 1.5rem;

    color: rgb(209, 209, 209);
    font-size: 1.2rem;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    
    border: 1px solid var(--background-color-3);
    background-color: var(--background-color-2);
    
}


#fill-in {
    grid-row: 3 / -1;

    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
    font-weight: bold;
}

#label-container { padding: 0 1rem; border: none; }

.input-textarea-class {
    display: block;

    width: 100%;
    height: 1.2rem;

    margin: .25rem 0 .8rem 0;

    background-color: rgba(255, 255, 255, 0.695);
} 

#questions-or-comments { height: unset; }

.required { color: rgb(157, 8, 8); }

#submit {
    display: block;
    
    width: 60%;
    height: 1.8rem;
    margin: 0 auto;

    background-color: slategray;
    font-weight: bold;
    cursor: pointer;
} */

/* quote section */





/* 
#blockquote {
    box-sizing: border-box;
    grid-area: span;

    width: 100%;
    height: 11rem;
    
    padding-top: 0.75rem;
    margin: 0 0;
    
    grid-column: 2 / 4;
    
    color: var(whitesmoke);
    background-color: var(--background-color-3);
    border: 9px solid var(--background-color-4);
    border-radius: 0.5%;

    font-family: 'Times New Roman', Times, serif;

}

#quote {
    width: 70%;

    padding: 1rem 0;
    margin: 0 auto;

    grid-column: 2 / 3;

    text-align: center;
    font-size: 1.8rem;
    color: whitesmoke;
}

.quote-hr { width: 80%; height: fit-content; }


#reviews-and-sold-background {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;

    width: 46.55vw;
    height: 100%;
}

#testimonials-article, #businesses-article {
    width: 90%;
    height: 100%;

    background-color: darkslategray;
    border: 1px solid var(--background-color-3);
}

#testimonials-title, #sold-title {
    text-align: center;

    margin: 0;

    color: whitesmoke;
    background-color: var(--background-color-3);
    border: var(--background-color-2) 0.2rem solid;
}

#testimonials, #businesses {
    width: 90%;
    height: 80%;

    padding: 0;
    margin: 3.2%;

    text-align: left;
    list-style: none;
}

.testimonial, .business {
    width: 100%;

    padding: 2% 0 2% 4%;
    margin: 1% 0 5% 0;

    font-size: 1rem;
    font-family:sans-serif;
    letter-spacing: 1px;
    color: rgb(218, 218, 218);

    border: var(--background-color-4) 1px solid;
    background-color: var(--background-color-4);
    border-radius: 2%;
}

.testimonial mark {
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    
}



#books-background {
    display: grid;
    grid-column: 3;
    grid-row: 3;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 6.8% repeat(2, 45%);
    justify-items: center;
    align-items: center;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    background-color: darkslategray;
    border: 1px solid var(--background-color-3);
}

#books-title {
    box-sizing: border-box;

    grid-column: 1 / 3;

    text-align: center;

    width: 100%;
    height: 100%;

    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    
    background-color: var(--background-color-3);
    border: var(--background-color-2) 3px solid;
}

#books-background figure {
    width: 90%;
    height: 90%;

    margin: 0;

    border: 1px var(--background-color-4) solid;
    border-radius: 3%;
    background-color: var(--background-color-4);
}

#books-background figure:nth-of-type(2n-1) {
    margin-left: 8px;
}

#books-background figure:nth-of-type(2n) {
    margin-right: 8px;
}

#books-background figure img {
    position: relative;
    left: 25%;
    top: 9%;
    padding: 3px;
    background-color: var(--background-color-3);
}

#book-1 {
    width: 50%;
    height: 80%;
}

#book-2 {
    width: 50%;
    height: 80%;
}

#book-3 {
    width: 50%;
    height: 80%;
}

#book-4 {
    width: 50%;
    height: 80%;
}

.overlay {
    position: relative;
    bottom: 85.3%;

    height: 100%;
    width: 100%;

    opacity: 0;
    transition: .5s ease;
    background-color: var(--background-color-3);
    border-radius: 2%;
    
  }

.figures:hover .overlay {
    opacity: 1;
    z-index: 1;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 3% 7%;

    color: white;
    font-size: 20px;
    
    border: 3px white solid;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
  }

footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 20vh;

    margin-top: 2rem;

    grid-column: 1 / -1;
    grid-row: 4;

    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-color-3);
    border-top: 2rem solid darkslategray;
}

footer article {
    width: 15%;
}

footer i {
    padding-bottom: 1rem;
}

footer a span {
    display: block;
}

footer a {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
} */
